<!DOCTYPE html>
<html lang="en" id="html">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="content-to-print" class="bill-s">
        <div id="header" class="margin-25">
            <div id="id" class="justify-content-left">
                <h1>{{id}}</h1>
            </div>
            <div class="justify-content-space-between">
                <span style="font-size: 20px; font-weight: bold">{{header.name}}</span>
                <span>{{header.points}}&nbsp;Points</span>
            </div>
            <div class="justify-content-left">{{header.timestamp}}</div>
            <div class="justify-content-left">{{header.posName}}</div>
            <br>
        </div>
        <div id="content" >
            <ul v-for="group in content">
                <div class="title justify-content-space-between margin-25">
                    <span>{{group.title}}</span>
                    <span>{{group.value}}</span>
                </div>
                <hr v-if="!group.hideLine" :class=`${group.longLine?'margin-0':'margin-25'}`>
                <ul v-for="item in group.items">
                    <div class="justify-content-space-between margin-25">
                        <span>{{item.name}}</span>
                        <span>
                            <span class="text-line-through"
                                v-if="item.beforeValue != null">{{currency}}{{item.beforeValue.toFixed(2)}}</span>&nbsp;
                            <span v-if="item.value != null">{{currency}}{{item.value.toFixed(2)}}</span>
                        </span>
                    </div>
                </ul>
            </ul>
            <div class="margin-25">
                <div>Signature</div>
                <div style="text-align: center">
                    <img id="signature" :src="`data:image/png;base64,${signature}`" />
                </div>
            </div>
            <hr class="margin-25">
            <p style="text-align: center">Thank you for using our service</p>
        </div>
        <!-- <div class="pagebreak"></div>
        <ul v-for="voucher in vouchers">
            {{voucher}}
            <div class="pagebreak"></div>
        </ul> -->
    </div>
    <script>
        window.addEventListener("message", (event) => {
            if (event.data) {
                var app = new Vue({
                    el: "#content-to-print",
                    data: event.data,
                });
            }
            window.print();
            window.close();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</body>

</html>