body {
    font-family: 'Open Sans';
    font-size: 16px;
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid black;
}

.margin-0 {
    margin: 0px;
}

.margin-25 {
    margin: 0px 25px;
}

.border-dotted {
    border: 1px dotted black;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.justify-content-left {
    display: flex;
    justify-content: left;
}

.text-line-through {
    text-decoration: line-through;
}

#id>h1 {
    font-size: 36px;
    text-align: center;
    color: white;
    padding: 0px 4px;
    border-radius: 5px;
    background-color: black;
}

.bill-size {
    width: 306px;
    margin: 0px;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}

#signature {
    width: 100%;
    height: 40px;
}